NoteTaker.Win10/SampleData/NotesSampleDataSource/NotesSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.NotesSampleDataSource" targetNamespace="Blend.SampleData.NotesSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="NotesSampleDataSource" type="tns:NotesSampleDataSource" />
  <xs:complexType name="NotesSampleDataSource">
    <xs:sequence>
      <xs:element name="Notes" type="tns:Notes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Notes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="NotesItem" type="tns:NotesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NotesItem">
    <xs:attribute blend:Format="Date" name="Created" type="xs:string" />
    <xs:attribute blend:FormatParameters="25,8" name="NoteText" type="xs:string" />
    <xs:attribute blend:FormatParameters="8,8" name="Title" type="xs:string" />
  </xs:complexType>
</xs:schema>